html {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #fff;
}

body {
  background-image: url("../images/starfield.png");
}

.content {

}

h1, p {
  filter: drop-shadow(2px 2px 10px rgba(255, 255, 255, .7));
}

.btn {
  color: #90ccc3;
  border: solid 2px #90ccc3;
}

.rocket {
  background-image: url(../images/rocket.svg);
}
