html {
  font-family: 'Ubuntu Condensed', sans-serif;
}

body {
  background-image: url("../images/starfield.png");
  position: relative;
}

.content {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: 12em;
}
